html {
  color: white;
  background-color: #1e1e1e;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

header {
  background-color: steelblue;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:hover {
  text-decoration: none;
  color: white;
  transform: translateY(-5px);
  transition-duration: 500ms;
}
