
/* Background of mi entire page*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(60, 60, 60, 1);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Evita el desplazamiento de la página */
}


/* The main window in postlog
.window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
    max-width: 625px;
    background: rgba(60, 60, 60, 0);
    background-size: auto;
    background-position: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
*/

/*
The main window in Postlog
represents the background of 
the box.
*/
.current-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    max-width: 625px;
    background: rgb(60, 60, 60,0.1);
    background-size: auto;
    background-position: center;
    margin: 10;
    box-shadow: 0px 4px 83px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transform: translateX(50%);
    transition: transform 2s ease-in-out; /* La transición en el 'transform' */
}

/* Secon window in Postolog
this window appears when you clic
on the buttons bellow the current-window
*/
.next-window {
    z-index: -1;
    position: static;
    top: 0;
    right: -100%; /* Comienza fuera de la pantalla a la derecha */
    width: 100%;
    max-width: 625px;
    height: 80vh;
    background: rgb(60, 60, 60,0.2);
    box-shadow: 0px 4px 83px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Next window visible state
there is an JS which calls this class
*/
.next-window.visible {
    opacity: 1; /* Totalmente visible */
    transform: translateX(0); /* Desplaza a la vista desde la derecha */
    right: 0; /* Mueve la ventana a la posición correcta */
}


/*
In this container are the principal elements
of the main window, like the image, the paragraph and the buttons
*/

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%; /* Ocupa toda la altura del contenedor */
} 

/*
modify the paragraph inside the content container
*/

.content-container p {
    font-size: 23px;
    font-style: normal;
    max-width: 76%; /* Limita el ancho máximo del párrafo */
    margin-bottom: 50px; /* Añade espacio entre párrafos */
    line-height: 1.5; /* Mejora la legibilidad */
    color: #ffffff; /* Color del texto */
    text-align: justify;
}

/* This is the image inside the div content-container*/

.image-margin {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transform: rotate(0deg);
    transition: transform 1s;
}

/*This is the class rotated for our class image-margin, this is used
by the js to calle it after the button touch*/
.image-margin.rotated {
    transform: rotate(360deg);
}



/* The container for the buttons inside the content-container*/
.buttons {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    gap: 20px; /* Espacio entre los botones */
    justify-content: center;
    align-items: center; /* Centra los botones horizontalmente */
    width: 100%;
}

/* 
modify the propertie of the buttons inside the conatiner buttons
*/
.buttons button {
    padding: 30px; /* Ajusta el padding uniformemente */
    font-size: 25px; /* Aumenta el tamaño de la fuente */
    cursor: pointer;
    border: none;
    width: 100%; /* Asegura que el ancho ocupe el contenedor */
    max-width: 300px; /* Ancho máximo de los botones */
    border-radius: 100px; /* Ajusta el radio para suavizar las esquinas */
    background-color: #3c3c3c; /* Color de fondo */
    color: #fff; /* Color del texto */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); /* Efecto de sombra */
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center; /* Asegura que el texto esté centrado */
}


/* 
Animation when clic is on the button
*/
.buttons button:hover {
    background-color: #00945636; /* Color de fondo al pasar el cursor */
}

/* 
Animation when clic the button
*/
.buttons button:active {
    
    transform: scale(0.65); /* Pequeño efecto de escala al hacer clic */

    
}



/* 
containers for the tests, only inicialitize.
*/
.tests-containers{
    color: white;
    display: flex;
    position: static;
    background: rgba(60, 60, 60, 0);
    display: flex;
    flex-direction: column;
    border: #fff;
    text-align: center;
    
}



/* 
div class for each test 
*/
.test {
    margin: auto;
    max-width: 605px;
    width: 605px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid rgb(255, 255, 255);
}


/* 
Animation color 
*/
.test:hover {
    background-color: #00945636;
}

/* 
Onclic details of tests
*/
.details {
    display: none;
    margin-top: 5px;
    background-color: #f1f1f156;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
